---
import { ChevronRight } from "@lucide/astro";

interface Props {
  logo?: string;
  heading: string;
  body: string;
  buttonLabel: string;
  buttonHref: string;
}

const {
  logo = "/img/logo-icon.svg",
  heading,
  body,
  buttonLabel,
  buttonHref,
} = Astro.props;
---

<section class="section section-cta overflow-hidden">
  <div class="container">
    <div class="max-w-lg mx-auto">
      <img
        src={logo}
        alt="Zeepay Today"
        class="block text-center mb-6 mx-auto shadow-xl shadow-custom-blue-200/70 rounded-xl"
        width="64"
        height="64"
      />
      <h2 class="h1 text-center">{heading}</h2>
      <p class="text-center mb-6">
        {body}
      </p>
      <div class="flex justify-center">
        <a
          href={buttonHref}
          class="btn btn-lg w-full sm:w-auto rounded-md bg-white text-custom-blue-200 hover:bg-custom-blue-200 hover:text-white border-main font-light shadow-none"
        >
          {buttonLabel}
          <ChevronRight size="14" />
        </a>
      </div>
    </div>
  </div>
</section>
