---
import { Image } from "astro:assets";

interface Props {
  sectionHeading: string;
  feature1Image: string;
  feature1Title: string;
  feature1Body: string;
  feature2Image: string;
  feature2Title: string;
  feature2Body: string;
  feature3Title: string;
  feature3Body: string;
  feature4Title: string;
  feature4Body: string;
  feature5Title: string;
  feature5Body: string;
  feature6Title: string;
  feature6Body: string;
}

const {
  sectionHeading,
  feature1Image,
  feature1Title,
  feature1Body,
  feature2Image,
  feature2Title,
  feature2Body,
  feature3Title,
  feature3Body,
  feature4Title,
  feature4Body,
  feature5Title,
  feature5Body,
  feature6Title,
  feature6Body,
} = Astro.props;
---

<section class="section section-features bg-white text-black my-0! py-20">
  <div class="container">
    <div class="grid grid-cols-1 md:grid-cols-2">
      <h2 class="h3">
        {sectionHeading}
      </h2>
    </div>

    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-[3fr_2fr] gap-10 mt-8"
    >
      <div>
        <article class="bg-custom-blue-100 rounded-2xl p-10 text-center">
          <div>
            <Image
              width={500}
              height={260}
              src={feature1Image}
              alt=""
              class="w-auto h-auto mx-auto"
              format="webp"
              quality={80}
            />
          </div>
          <div class="">
            <h3 class="h4 dark:text-black">{feature1Title}</h3>
            <p class="text-base text-custom-grey-100">
              {feature1Body}
            </p>
          </div>
        </article>
      </div>
      <div class="grid gap-10">
        <article class="bg-custom-light-100 p-10 rounded-xl">
          <svg class="icon" width="28" height="28">
            <use xlink:href="#i3"></use>
          </svg>
          <div class="mt-4">
            <h4 class="h5 dark:text-black">{feature3Title}</h4>
            <p class="text-sm text-custom-grey-100">
              {feature3Body}
            </p>
          </div>
        </article>
        <article class="bg-custom-light-100 p-10 rounded-xl">
          <svg class="icon" width="28" height="28">
            <use xlink:href="#i4"></use>
          </svg>
          <div class="mt-4">
            <h4 class="h5 dark:text-black">{feature4Title}</h4>
            <p class="text-sm text-custom-grey-100">
              {feature4Body}
            </p>
          </div>
        </article>
      </div>
    </div>

    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-[2fr_3fr] gap-10 mt-8"
    >
      <div class="grid gap-10 order-2 md:order-1">
        <article class="bg-custom-light-100 p-10 rounded-xl">
          <svg class="icon" width="28" height="28">
            <use xlink:href="#i1"></use>
          </svg>
          <div class="mt-4">
            <h4 class="h5 dark:text-black">{feature5Title}</h4>
            <p class="text-sm text-custom-grey-100">
              {feature5Body}
            </p>
          </div>
        </article>
        <article class="bg-custom-light-100 p-10 rounded-xl">
          <svg class="icon" width="28" height="28">
            <use xlink:href="#i2"></use>
          </svg>
          <div class="mt-4">
            <h4 class="h5 dark:text-black">{feature6Title}</h4>
            <p class="text-sm text-custom-grey-100">
              {feature6Body}
            </p>
          </div>
        </article>
      </div>

      <div class="order-1">
        <article class="bg-custom-blue-100 rounded-2xl p-10 text-center">
          <div>
            <Image
              width={422}
              height={242}
              src={feature2Image}
              alt=""
              class="w-auto h-auto mx-auto"
              format="webp"
              quality={100}
            />
          </div>
          <div class="">
            <h3 class="h4 dark:text-black">{feature2Title}</h3>
            <p class="text-base text-custom-grey-100">
              {feature2Body}
            </p>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
