---
import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/pagination";
import { Image } from "astro:assets";

interface Testimonial {
  quote: string;
  author: string;
  role: string;
  avatar: string;
}

interface Props {
  heading: string;
  testimonials: Testimonial[];
}

const { heading, testimonials } = Astro.props;
---

<section class="section section-review my-0! py-20! bg-white text-black">
  <div class="container">
    <h2 class="h3 text-center">{heading}</h2>

    <div class="relative">
      <div
        class="hidden md:block pointer-events-none absolute left-0 top-0 h-full w-24 z-10
              bg-gradient-to-r from-white to-transparent"
      >
      </div>

      <div
        class="hidden md:block pointer-events-none absolute right-0 top-0 h-full w-24 z-10
              bg-gradient-to-l from-white to-transparent"
      >
      </div>

      <div class="swiper mt-10" id="reviewSwiper">
        <div class="swiper-wrapper">
          {
            testimonials.map((testimonial, index) => (
              <article
                class:list={[
                  "swiper-slide text-center p-10 rounded-xl",
                  index !== 0 && "bg-custom-light-100",
                ]}
              >
                <p class="text-sm">{testimonial.quote}</p>
                <div class="flex flex-wrap gap-2 items-center justify-center mt-4">
                  <Image
                    width={50}
                    height={50}
                    src={testimonial.avatar}
                    alt={testimonial.author}
                    class="rounded-full w-10 h-10 object-cover"
                    format="webp"
                    quality={80}
                  />
                  <div class="flex flex-wrap gap-1">
                    <b>{testimonial.author},</b>
                    <span style="text-custom-grey-100"> {testimonial.role}</span>
                  </div>
                </div>
              </article>
            ))
          }
        </div>

        <div class="swiper-pagination"></div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
  </div>
</section>

<script>
  import Swiper from "swiper";
  import { Navigation, Pagination } from "swiper/modules";

  new Swiper(".swiper", {
    modules: [Navigation, Pagination],

    loop: true,
    //centeredSlides: true,

    spaceBetween: 24,

    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },

    //   navigation: {
    //     nextEl: ".swiper-button-next",
    //     prevEl: ".swiper-button-prev",
    //   },

    breakpoints: {
      0: {
        slidesPerView: 1,
        spaceBetween: 0,
      },
      768: {
        slidesPerView: 1,
      },
      1024: {
        slidesPerView: 3,
      },
    },
  });
</script>
